{% extends 'base.html' %}

{% block head %}
<title>Panier de {{ user }}}</title>
{% endblock %}

{% block content %}
<p>Votre panier - {{ user }}</p>

<!--
Form set factory
-->


<form method="post">
    {% csrf_token %}
    {{ forms.management_form }}

    <div class="container">
  <div class="row">

    <div class="form-group">
        <div class="col-12 col-md-6 col-lg-4">
    {% for form in forms %}
<div class="card mb-3">
                <div class="card-body">


        <h5 class="card-title">{{ form.instance.ticket.artist.name }} -- {{ form.instance.ticket.city.name }}</h5>
        <p class="card-text">{{ form.instance.ticket.price }} € / ticket</p>
        <h6 class="card-subtitle mb-2 text-muted">{{ form.instance.ticket.stock }} tickets restants en stock</h6>
        {{ form.as_p }}
                </div>
</div>

    {% if form.errors %}
{% for message in form.errors.values %}
    <h3 style="color: red;">{{ message }}</h3>



    {% endfor %}
{% endif %}

{% endfor %}
    </div>
  </div>
    </div>
    </div>
    <button type="submit" class="btn btn-primary">Mettre à jour les quantités</button>
</form>





<h2>Montant du panier : {{ total }} €</h2>



<form action="{% url 'store:create-checkout-session' %}" method="POST">
    {% csrf_token %}
<button type="submit" class="btn btn-primary">Procéder au paiement</button>
    </form>
<br>
<p><a href="{% url 'store:delete-cart' %}" class="btn btn-danger">Supprimer le panier</a></p>

{% endblock %}