{% extends 'base.html' %}

{% block head %}
<title>Accueil</title>
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
{% for concert in concerts %}

{% if concert.stock_tickets > 0 %}


        <div class="col-12 col-md-12 col-lg-6">
<h2>{{ concert.name.name }} a {{ concert.city.name }}</h2>
<img src="{{ concert.thumbnail_url }}" alt="{{ concert.name.name }}" width="600" class="img-thumbnail">
<p><i>Date : {{ concert.date }}, {{ concert.place }}</i></p>
<a href="{{ concert.get_absolute_url }}" class="btn btn-primary">On réserve ?</a>
 </div>
{% endif %}
{% endfor %}

</div>
</div>
{% endblock %}