<div>
    <p>--</p>
    <p>{{ addresse.name }}</p>
    <p>{{ addresse.address_1 }}</p>
    {% if addresse.address_2 %}
<p>{{ addresse.address_2 }}</p>
    {% endif %}
<p>{{ addresse.zip_code }} {{ addresse.city }}</p>
    <p>{{ addresse.get_country_display }}</p>

    {% if not addresse.default %}
    <p>
        <a href="{% url 'account:address-default' pk=addresse.pk %}"> <button style="margin-top: 1em;" class="btn btn-primary">Définir comme adresse par défaut</button></a>
    </p>
    {% else %}
    <p></p><h3>Adresse par défaut</h3></p>
    {% endif %}
</div>